---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
import Form from "../components/Form.astro";
import Card from "../components/Card.astro";
import Carousel from "../components/Carousel.astro";
import Footer from "../components/Footer.astro";
import Accordion from "../components/Accordion.astro";
---

<Layout title="Carreras Ucasal">
  <Header />
  <main class="snap-y snap-mandatory relative w-full h-screen overflow-hidden">
    <div class="snap-center">
      <HeroSection />
    </div>
  </main>
  <Form />
<!-- 
  <div
    class="bg-center bg-contain bg-no-repeat bg-fixed bg-[url('../../fondo.png')]"
  >
    <h2 class="bigTitle px-5 mt-5">
      <span style="color: rgb(97, 96, 96)">Conocé nuestras</span>&nbsp;CARRERAS
      DE GRADO:
    </h2>
    <div
      class="p-5 justify-center mb-5 card-container grid xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2"
    >
      <Card />
      <Card />
      <Card />
      <Card />
      <Card />
    </div>
    <div class="mb-5">
      <a href="https://ucasal.edu.ar/inscripciones/" target="_blank">
        <video
          width="100%"
          id="banner"
          preload="metadata"
          autoplay=""
          loop=""
          muted=""
        >
          <source src="../../cintaNeonC.mp4" type="video/mp4" />
          <source src="../../cintaNeonC.ogg" type="video/ogg" />
        </video>
      </a>
    </div>
    <h2 class="bigTitle px-5 mt-5">
      <span style="color: rgb(97, 96, 96)">Conocé nuestras</span>&nbsp;CARRERAS
      DE PREGRADO:
    </h2>
    <div
      class="p-5 justify-center mb-5 card-container grid xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2"
    >
      <Card />
      <Card />
      <Card />
      <Card />
      <Card />
      <Card />
    </div>
  </div> -->

 <!--  use the accordion to render the cards -->
  
    <h2 class="bigTitle px-5 mt-5 shadow-black mb-5">
      <span style="color: rgb(97, 96, 96)">Conoce nuestas</span>&nbsp;CARRERAS:
    </h2>
    <Accordion />
  
  

  <h2 class="bigTitle px-5 mt-5 shadow-black">
    <span style="color: rgb(97, 96, 96)">Estudiá en tu sede</span>&nbsp;MÁS
    CERCANA:
  </h2>
  <!-- two columns -->
  <div
    class="p-5 justify-center mb-5 grid md:grid-cols-2 sm:grid-cols-1 gap-4 shadow-black"
  >
    <!-- Columna 1: iframe -->
    <div class="relative overflow-hidden aspect-w-16 aspect-h-9 shadow-black">
      <iframe
        src="https://www.ucasal.edu.ar/mapa_sedes/mapa_sedes_ucasal.html"
        allowfullscreen
        class="absolute inset-0 w-full h-full"></iframe>
    </div>

    <!-- Columna 2: video -->
    <div class="text-center px-2 shadow-black">
      <iframe
        width="100%"
        height="315"
        src="https://www.youtube.com/embed/-nLtgFKPlXg"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
  </div>

  <div class="bg-gray-300">
    <h2 class="bigTitle px-5 mt-5 shadow-black ">
      <span style="color: rgb(97, 96, 96)">Conocé más sobre nuestros</span
      >&nbsp;CONVENIOS &nbsp;NACIONALES:
    </h2>
    <Carousel />
  </div>
  <!-- Espacio en blanco -->
  <div class="bg-grey-300 h-10">
  <Footer />
</div>

<script src="/src/scripts/scripts.js" is:inline></script>

</Layout>

<style>
  /* Estilos del contenedor de columnas */
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
  }
  .bigTitle {
    display: inline-block;
    color: #ee1818;
    font-weight: 900;
    font-size: 1.5em;
    font-family: "Museo Sans";
  }
</style>
