---
export interface Props {
  codcar: string
  codare: string
  nombre: string
  modo: string
  duracion: string
}
const {
  codcar,
  codare,
  nombre,
  modo,
  duracion,
} = Astro.props 
---
<div class="flex justify-center mb-5 mx-auto" style="width: 250px; height: 360px;">
  <div class="max-w-lg rounded-2xl overflow-hidden shadow-lg relative transition-transform hover:scale-105 hover:shadow-xl border-2">
    <!-- Parte 1: Imagen -->
    <div class="bg-cover bg-center h-52" style=`background-image: url('../../${codcar}.webp');`></div>

    <!-- Parte 2: Icono -->
    <img class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-[5%] w-20 h-14" src=`https://www.ucasal.edu.ar/landing/img/img-test/cardIcons/${codare}.svg` alt="icono carta">

    <!-- Parte 3: Título -->
    <div class="px-6 pt-8 bg-white flex items-center justify-center h-20"> 
      <div class=`font-bold text-center mb-5 ${nombre.length > 4 ? 'text-xs' : 'text-lg'}`>{nombre}</div>
    </div>

    <!-- Parte 4: Datos -->
    <div class="px-6 py-3 bg-[#ee1818] w-full h-full">
      <div class="grid grid-cols-2 gap-2 text-center">
        <div class="text-white flex flex-col col-span-1"> 
          <span class="rounded-full px-3 text-xs font-light">Modalidad</span>
          <span class="rounded-full px-3 text-xs font-bold">{modo === "7" ? 'Distancia' : modo === "1" ? 'Presencial' : 'Presencial y Distancia'}</span>
        </div>

        <div class="text-white flex flex-col col-span-1"> 
          <span class="rounded-full px-3 text-xs font-light">Duración</span>
          <span class="rounded-full px-3 text-sm font-bold">{duracion}</span>
        </div>
      </div>
    </div>
  </div>
</div>
