---
import CardMobile from "../components/CardMobile.astro";
---

<div id="controls-carousel" class="relative" data-carousel="static">
  <!-- Carousel wrapper -->
  <div class="relative h-[600px] overflow-hidden rounded-lg">
       <!-- Item 1 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
        <div class="relative grid grid-cols-2">
           <div class="flex justify-end w-full p-3">
          <CardMobile />
           </div>
           <div class="flex justify-start w-full p-3">
            <CardMobile />
           </div>
           <div class="flex justify-end w-full p-3">
            <CardMobile />
           </div>
           <div class="flex justify-start w-full p-3">
            <CardMobile />
           </div>
        </div>
      </div>
      <!-- Item 2 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <div class="relative grid grid-cols-2">
          <div class="flex justify-end w-full p-3">
         <div class="max-w-lg rounded-2xl overflow-hidden shadow-lg relative transition-transform  hover:shadow-2xl border-2">
           <!-- Parte 1: Imagen -->
           <div class="bg-cover bg-center h-32" style="background-image: url('../../estudiar-derecho-abogacia-distancia.jpg');"></div>
       
           <!-- Parte 2: Icono -->
           <img class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-[80%] w-14 h-14" src="https://www.ucasal.edu.ar/landing/img/img-test/cardIcons/13.svg" alt="icono carta">
       
           <!-- Parte 3: Título -->
           <div class="px-6 pt-8 bg-white flex items-center justify-center h-14"> 
             <div class="font-bold text-xl text-center mb-5">Abogacía</div> 
           </div>
       
           <!-- Parte 4: Datos -->
           <div class="px-2 py-4 bg-[#ee1818]">
             <div class="grid grid-cols-2 gap-2 text-center">
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Modalidad</span>
                 <span class="rounded-full px-3 text-sm font-bold">Distancia</span>
               </div>
       
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Duración</span>
                 <span class="rounded-full px-3 text-sm font-bold">5 años</span>
               </div>
             </div>
           </div>
         </div>
          </div>
          <div class="flex justify-start w-full p-3">
         <div class="max-w-lg rounded-2xl overflow-hidden shadow-lg relative transition-transform  hover:shadow-2xl border-2">
           <!-- Parte 1: Imagen -->
           <div class="bg-cover bg-center h-32" style="background-image: url('../../estudiar-derecho-abogacia-distancia.jpg');"></div>
       
           <!-- Parte 2: Icono -->
           <img class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-[80%] w-14 h-14" src="https://www.ucasal.edu.ar/landing/img/img-test/cardIcons/13.svg" alt="icono carta">
       
           <!-- Parte 3: Título -->
           <div class="px-6 pt-8 bg-white flex items-center justify-center h-14"> 
             <div class="font-bold text-xl text-center mb-5">Abogacía</div> 
           </div>
       
           <!-- Parte 4: Datos -->
           <div class="px-2 py-4 bg-[#ee1818]">
             <div class="grid grid-cols-2 gap-2 text-center">
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Modalidad</span>
                 <span class="rounded-full px-3 text-sm font-bold">Distancia</span>
               </div>
       
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Duración</span>
                 <span class="rounded-full px-3 text-sm font-bold">5 años</span>
               </div>
             </div>
           </div>
         </div>
          </div>
          <div class="flex justify-end w-full p-3">
         <div class="max-w-lg rounded-2xl overflow-hidden shadow-lg relative transition-transform  hover:shadow-2xl border-2">
           <!-- Parte 1: Imagen -->
           <div class="bg-cover bg-center h-32" style="background-image: url('../../estudiar-derecho-abogacia-distancia.jpg');"></div>
       
           <!-- Parte 2: Icono -->
           <img class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-[80%] w-14 h-14" src="https://www.ucasal.edu.ar/landing/img/img-test/cardIcons/13.svg" alt="icono carta">
       
           <!-- Parte 3: Título -->
           <div class="px-6 pt-8 bg-white flex items-center justify-center h-14"> 
             <div class="font-bold text-xl text-center mb-5">Abogacía</div> 
           </div>
       
           <!-- Parte 4: Datos -->
           <div class="px-2 py-4 bg-[#ee1818]">
             <div class="grid grid-cols-2 gap-2 text-center">
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Modalidad</span>
                 <span class="rounded-full px-3 text-sm font-bold">Distancia</span>
               </div>
       
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Duración</span>
                 <span class="rounded-full px-3 text-sm font-bold">5 años</span>
               </div>
             </div>
           </div>
         </div>
          </div>
          <div class="flex justify-start w-full p-3">
         <div class="max-w-lg rounded-2xl overflow-hidden shadow-lg relative transition-transform  hover:shadow-2xl border-2">
           <!-- Parte 1: Imagen -->
           <div class="bg-cover bg-center h-32" style="background-image: url('../../estudiar-derecho-abogacia-distancia.jpg');"></div>
       
           <!-- Parte 2: Icono -->
           <img class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-[80%] w-14 h-14" src="https://www.ucasal.edu.ar/landing/img/img-test/cardIcons/13.svg" alt="icono carta">
       
           <!-- Parte 3: Título -->
           <div class="px-6 pt-8 bg-white flex items-center justify-center h-14"> 
             <div class="font-bold text-xl text-center mb-5">Abogacía</div> 
           </div>
       
           <!-- Parte 4: Datos -->
           <div class="px-2 py-4 bg-[#ee1818]">
             <div class="grid grid-cols-2 gap-2 text-center">
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Modalidad</span>
                 <span class="rounded-full px-3 text-sm font-bold">Distancia</span>
               </div>
       
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Duración</span>
                 <span class="rounded-full px-3 text-sm font-bold">5 años</span>
               </div>
             </div>
           </div>
         </div>
          </div>
       </div>
      </div>
      <!-- Item 3 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <div class="relative grid grid-cols-2">
          <div class="flex justify-end w-full p-3">
         <div class="max-w-lg rounded-2xl overflow-hidden shadow-lg relative transition-transform  hover:shadow-2xl border-2">
           <!-- Parte 1: Imagen -->
           <div class="bg-cover bg-center h-32" style="background-image: url('../../estudiar-derecho-abogacia-distancia.jpg');"></div>
       
           <!-- Parte 2: Icono -->
           <img class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-[80%] w-14 h-14" src="https://www.ucasal.edu.ar/landing/img/img-test/cardIcons/13.svg" alt="icono carta">
       
           <!-- Parte 3: Título -->
           <div class="px-6 pt-8 bg-white flex items-center justify-center h-14"> 
             <div class="font-bold text-xl text-center mb-5">Abogacía</div> 
           </div>
       
           <!-- Parte 4: Datos -->
           <div class="px-2 py-4 bg-[#ee1818]">
             <div class="grid grid-cols-2 gap-2 text-center">
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Modalidad</span>
                 <span class="rounded-full px-3 text-sm font-bold">Distancia</span>
               </div>
       
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Duración</span>
                 <span class="rounded-full px-3 text-sm font-bold">5 años</span>
               </div>
             </div>
           </div>
         </div>
          </div>
          <div class="flex justify-start w-full p-3">
         <div class="max-w-lg rounded-2xl overflow-hidden shadow-lg relative transition-transform  hover:shadow-2xl border-2">
           <!-- Parte 1: Imagen -->
           <div class="bg-cover bg-center h-32" style="background-image: url('../../estudiar-derecho-abogacia-distancia.jpg');"></div>
       
           <!-- Parte 2: Icono -->
           <img class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-[80%] w-14 h-14" src="https://www.ucasal.edu.ar/landing/img/img-test/cardIcons/13.svg" alt="icono carta">
       
           <!-- Parte 3: Título -->
           <div class="px-6 pt-8 bg-white flex items-center justify-center h-14"> 
             <div class="font-bold text-xl text-center mb-5">Abogacía</div> 
           </div>
       
           <!-- Parte 4: Datos -->
           <div class="px-2 py-4 bg-[#ee1818]">
             <div class="grid grid-cols-2 gap-2 text-center">
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Modalidad</span>
                 <span class="rounded-full px-3 text-sm font-bold">Distancia</span>
               </div>
       
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Duración</span>
                 <span class="rounded-full px-3 text-sm font-bold">5 años</span>
               </div>
             </div>
           </div>
         </div>
          </div>
          <div class="flex justify-end w-full p-3">
         <div class="max-w-lg rounded-2xl overflow-hidden shadow-lg relative transition-transform  hover:shadow-2xl border-2">
           <!-- Parte 1: Imagen -->
           <div class="bg-cover bg-center h-32" style="background-image: url('../../estudiar-derecho-abogacia-distancia.jpg');"></div>
       
           <!-- Parte 2: Icono -->
           <img class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-[80%] w-14 h-14" src="https://www.ucasal.edu.ar/landing/img/img-test/cardIcons/13.svg" alt="icono carta">
       
           <!-- Parte 3: Título -->
           <div class="px-6 pt-8 bg-white flex items-center justify-center h-14"> 
             <div class="font-bold text-xl text-center mb-5">Abogacía</div> 
           </div>
       
           <!-- Parte 4: Datos -->
           <div class="px-2 py-4 bg-[#ee1818]">
             <div class="grid grid-cols-2 gap-2 text-center">
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Modalidad</span>
                 <span class="rounded-full px-3 text-sm font-bold">Distancia</span>
               </div>
       
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Duración</span>
                 <span class="rounded-full px-3 text-sm font-bold">5 años</span>
               </div>
             </div>
           </div>
         </div>
          </div>
          <div class="flex justify-start w-full p-3">
         <div class="max-w-lg rounded-2xl overflow-hidden shadow-lg relative transition-transform  hover:shadow-2xl border-2">
           <!-- Parte 1: Imagen -->
           <div class="bg-cover bg-center h-32" style="background-image: url('../../estudiar-derecho-abogacia-distancia.jpg');"></div>
       
           <!-- Parte 2: Icono -->
           <img class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-[80%] w-14 h-14" src="https://www.ucasal.edu.ar/landing/img/img-test/cardIcons/13.svg" alt="icono carta">
       
           <!-- Parte 3: Título -->
           <div class="px-6 pt-8 bg-white flex items-center justify-center h-14"> 
             <div class="font-bold text-xl text-center mb-5">Abogacía</div> 
           </div>
       
           <!-- Parte 4: Datos -->
           <div class="px-2 py-4 bg-[#ee1818]">
             <div class="grid grid-cols-2 gap-2 text-center">
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Modalidad</span>
                 <span class="rounded-full px-3 text-sm font-bold">Distancia</span>
               </div>
       
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Duración</span>
                 <span class="rounded-full px-3 text-sm font-bold">5 años</span>
               </div>
             </div>
           </div>
         </div>
          </div>
       </div>
      </div>
      <!-- Item 4 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <div class="relative grid grid-cols-2">
          <div class="flex justify-end w-full p-3">
         <div class="max-w-lg rounded-2xl overflow-hidden shadow-lg relative transition-transform  hover:shadow-2xl border-2">
           <!-- Parte 1: Imagen -->
           <div class="bg-cover bg-center h-32" style="background-image: url('../../estudiar-derecho-abogacia-distancia.jpg');"></div>
       
           <!-- Parte 2: Icono -->
           <img class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-[80%] w-14 h-14" src="https://www.ucasal.edu.ar/landing/img/img-test/cardIcons/13.svg" alt="icono carta">
       
           <!-- Parte 3: Título -->
           <div class="px-6 pt-8 bg-white flex items-center justify-center h-14"> 
             <div class="font-bold text-xl text-center mb-5">Abogacía</div> 
           </div>
       
           <!-- Parte 4: Datos -->
           <div class="px-2 py-4 bg-[#ee1818]">
             <div class="grid grid-cols-2 gap-2 text-center">
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Modalidad</span>
                 <span class="rounded-full px-3 text-sm font-bold">Distancia</span>
               </div>
       
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Duración</span>
                 <span class="rounded-full px-3 text-sm font-bold">5 años</span>
               </div>
             </div>
           </div>
         </div>
          </div>
          <div class="flex justify-start w-full p-3">
         <div class="max-w-lg rounded-2xl overflow-hidden shadow-lg relative transition-transform  hover:shadow-2xl border-2">
           <!-- Parte 1: Imagen -->
           <div class="bg-cover bg-center h-32" style="background-image: url('../../estudiar-derecho-abogacia-distancia.jpg');"></div>
       
           <!-- Parte 2: Icono -->
           <img class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-[80%] w-14 h-14" src="https://www.ucasal.edu.ar/landing/img/img-test/cardIcons/13.svg" alt="icono carta">
       
           <!-- Parte 3: Título -->
           <div class="px-6 pt-8 bg-white flex items-center justify-center h-14"> 
             <div class="font-bold text-xl text-center mb-5">Abogacía</div> 
           </div>
       
           <!-- Parte 4: Datos -->
           <div class="px-2 py-4 bg-[#ee1818]">
             <div class="grid grid-cols-2 gap-2 text-center">
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Modalidad</span>
                 <span class="rounded-full px-3 text-sm font-bold">Distancia</span>
               </div>
       
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Duración</span>
                 <span class="rounded-full px-3 text-sm font-bold">5 años</span>
               </div>
             </div>
           </div>
         </div>
          </div>
          <div class="flex justify-end w-full p-3">
         <div class="max-w-lg rounded-2xl overflow-hidden shadow-lg relative transition-transform  hover:shadow-2xl border-2">
           <!-- Parte 1: Imagen -->
           <div class="bg-cover bg-center h-32" style="background-image: url('../../estudiar-derecho-abogacia-distancia.jpg');"></div>
       
           <!-- Parte 2: Icono -->
           <img class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-[80%] w-14 h-14" src="https://www.ucasal.edu.ar/landing/img/img-test/cardIcons/13.svg" alt="icono carta">
       
           <!-- Parte 3: Título -->
           <div class="px-6 pt-8 bg-white flex items-center justify-center h-14"> 
             <div class="font-bold text-xl text-center mb-5">Abogacía</div> 
           </div>
       
           <!-- Parte 4: Datos -->
           <div class="px-2 py-4 bg-[#ee1818]">
             <div class="grid grid-cols-2 gap-2 text-center">
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Modalidad</span>
                 <span class="rounded-full px-3 text-sm font-bold">Distancia</span>
               </div>
       
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Duración</span>
                 <span class="rounded-full px-3 text-sm font-bold">5 años</span>
               </div>
             </div>
           </div>
         </div>
          </div>
          <div class="flex justify-start w-full p-3">
         <div class="max-w-lg rounded-2xl overflow-hidden shadow-lg relative transition-transform  hover:shadow-2xl border-2">
           <!-- Parte 1: Imagen -->
           <div class="bg-cover bg-center h-32" style="background-image: url('../../estudiar-derecho-abogacia-distancia.jpg');"></div>
       
           <!-- Parte 2: Icono -->
           <img class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-[80%] w-14 h-14" src="https://www.ucasal.edu.ar/landing/img/img-test/cardIcons/13.svg" alt="icono carta">
       
           <!-- Parte 3: Título -->
           <div class="px-6 pt-8 bg-white flex items-center justify-center h-14"> 
             <div class="font-bold text-xl text-center mb-5">Abogacía</div> 
           </div>
       
           <!-- Parte 4: Datos -->
           <div class="px-2 py-4 bg-[#ee1818]">
             <div class="grid grid-cols-2 gap-2 text-center">
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Modalidad</span>
                 <span class="rounded-full px-3 text-sm font-bold">Distancia</span>
               </div>
       
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Duración</span>
                 <span class="rounded-full px-3 text-sm font-bold">5 años</span>
               </div>
             </div>
           </div>
         </div>
          </div>
       </div>
      </div>
      <!-- Item 5 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <div class="relative grid grid-cols-2">
          <div class="flex justify-end w-full p-3">
         <div class="max-w-lg rounded-2xl overflow-hidden shadow-lg relative transition-transform  hover:shadow-2xl border-2">
           <!-- Parte 1: Imagen -->
           <div class="bg-cover bg-center h-32" style="background-image: url('../../estudiar-derecho-abogacia-distancia.jpg');"></div>
       
           <!-- Parte 2: Icono -->
           <img class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-[80%] w-14 h-14" src="https://www.ucasal.edu.ar/landing/img/img-test/cardIcons/13.svg" alt="icono carta">
       
           <!-- Parte 3: Título -->
           <div class="px-6 pt-8 bg-white flex items-center justify-center h-14"> 
             <div class="font-bold text-xl text-center mb-5">Abogacía</div> 
           </div>
       
           <!-- Parte 4: Datos -->
           <div class="px-2 py-4 bg-[#ee1818]">
             <div class="grid grid-cols-2 gap-2 text-center">
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Modalidad</span>
                 <span class="rounded-full px-3 text-sm font-bold">Distancia</span>
               </div>
       
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Duración</span>
                 <span class="rounded-full px-3 text-sm font-bold">5 años</span>
               </div>
             </div>
           </div>
         </div>
          </div>
          <div class="flex justify-start w-full p-3">
         <div class="max-w-lg rounded-2xl overflow-hidden shadow-lg relative transition-transform  hover:shadow-2xl border-2">
           <!-- Parte 1: Imagen -->
           <div class="bg-cover bg-center h-32" style="background-image: url('../../estudiar-derecho-abogacia-distancia.jpg');"></div>
       
           <!-- Parte 2: Icono -->
           <img class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-[80%] w-14 h-14" src="https://www.ucasal.edu.ar/landing/img/img-test/cardIcons/13.svg" alt="icono carta">
       
           <!-- Parte 3: Título -->
           <div class="px-6 pt-8 bg-white flex items-center justify-center h-14"> 
             <div class="font-bold text-xl text-center mb-5">Abogacía</div> 
           </div>
       
           <!-- Parte 4: Datos -->
           <div class="px-2 py-4 bg-[#ee1818]">
             <div class="grid grid-cols-2 gap-2 text-center">
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Modalidad</span>
                 <span class="rounded-full px-3 text-sm font-bold">Distancia</span>
               </div>
       
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Duración</span>
                 <span class="rounded-full px-3 text-sm font-bold">5 años</span>
               </div>
             </div>
           </div>
         </div>
          </div>
          <div class="flex justify-end w-full p-3">
         <div class="max-w-lg rounded-2xl overflow-hidden shadow-lg relative transition-transform  hover:shadow-2xl border-2">
           <!-- Parte 1: Imagen -->
           <div class="bg-cover bg-center h-32" style="background-image: url('../../estudiar-derecho-abogacia-distancia.jpg');"></div>
       
           <!-- Parte 2: Icono -->
           <img class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-[80%] w-14 h-14" src="https://www.ucasal.edu.ar/landing/img/img-test/cardIcons/13.svg" alt="icono carta">
       
           <!-- Parte 3: Título -->
           <div class="px-6 pt-8 bg-white flex items-center justify-center h-14"> 
             <div class="font-bold text-xl text-center mb-5">Abogacía</div> 
           </div>
       
           <!-- Parte 4: Datos -->
           <div class="px-2 py-4 bg-[#ee1818]">
             <div class="grid grid-cols-2 gap-2 text-center">
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Modalidad</span>
                 <span class="rounded-full px-3 text-sm font-bold">Distancia</span>
               </div>
       
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Duración</span>
                 <span class="rounded-full px-3 text-sm font-bold">5 años</span>
               </div>
             </div>
           </div>
         </div>
          </div>
          <div class="flex justify-start w-full p-3">
         <div class="max-w-lg rounded-2xl overflow-hidden shadow-lg relative transition-transform  hover:shadow-2xl border-2">
           <!-- Parte 1: Imagen -->
           <div class="bg-cover bg-center h-32" style="background-image: url('../../estudiar-derecho-abogacia-distancia.jpg');"></div>
       
           <!-- Parte 2: Icono -->
           <img class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-[80%] w-14 h-14" src="https://www.ucasal.edu.ar/landing/img/img-test/cardIcons/13.svg" alt="icono carta">
       
           <!-- Parte 3: Título -->
           <div class="px-6 pt-8 bg-white flex items-center justify-center h-14"> 
             <div class="font-bold text-xl text-center mb-5">Abogacía</div> 
           </div>
       
           <!-- Parte 4: Datos -->
           <div class="px-2 py-4 bg-[#ee1818]">
             <div class="grid grid-cols-2 gap-2 text-center">
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Modalidad</span>
                 <span class="rounded-full px-3 text-sm font-bold">Distancia</span>
               </div>
       
               <div class="text-white flex flex-col col-span-1"> 
                 <span class="rounded-full px-3 text-xs font-light">Duración</span>
                 <span class="rounded-full px-3 text-sm font-bold">5 años</span>
               </div>
             </div>
           </div>
         </div>
          </div>
       </div>
      </div>
  </div>
  <!-- Slider indicators -->
  <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
    <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
</div>

<!-- Slider controls -->
<button type="button" class="absolute top-[-20px] left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
  <span class="inline-flex items-center justify-center w-12 h-12 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
      <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
      </svg>
      <span class="sr-only">Previous</span>
  </span>
</button>
<button type="button" class="absolute top-[-20px] right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
  <span class="inline-flex items-center justify-center w-12 h-12 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
      <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
      </svg>
      <span class="sr-only">Next</span>
  </span>
</button>
</div>