<footer class="bg-red-600 dark:bg-gray-900">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
              <a href="https://ucasal.edu.ar/" class="flex items-center">
                <img
                src="../../isologoBlanco.svg"
                class="ucasal-logo w-36"
                alt="UCASAL LOGO"
            />
              </a>
          </div>
      </div>
      <p class="text-white">www.ucasal.edu.ar</p>
      <p class="text-white">54 0387 4268800 / 0810-555-(822725)</p>
      <p class="text-white">admision@ucasal.edu.ar</p>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-200 sm:text-center dark:text-gray-400">© 2024 <a href="https://ucasal.edu.ar/" class="hover:underline">UCASAL</a>. Construi tu historia.
          </span> 
      </div>
    </div>
</footer>
