<!-- titulo -->
<h1
  class="bg-orange-700 bg-auto text-white h-[40px] flex items-center justify-center text-lg font-extrabold"
>
  EDUCANDO CORAZONES INTELIGENTES
</h1>
<div class="grid md:grid-cols-2 md:gap-6 ">
  <!-- empty column -->
  
  <div class="md:ml-52 m-5">
    <h2 class="text-gray-600 text-3xl font-semibold">
      ¡Queremos que seas parte de <span class="text-red-600">lo que sé viene</span>!
    </h2>
    <h3 class="text-gray-600 text-xl font-medium my-5" id="messages">
      Aprendé sin límites de edad, espacios físicos y tiempo. Disfrutá de la
      experiencia de aprendizaje personalizado y flexible, en ambientes
      dinámicos y colaborativos.
    </h3>
    <div class="text-center shadow-black md:mt-10">
      <iframe
        width="100%"
        height="250"
        src="https://www.youtube.com/embed/-nLtgFKPlXg"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="flex items-center justify-center">
    <form
    role="form" id="pedidoinfo" 
    method="post" enctype="multipart/form-data" 
    action="https://www-desa.ucasal.edu.ar/postulantes_mail1.php" 
    autocomplete="on"
      class="bg-gray-200 rounded-lg p-6 shadow-md m-5 [&>div>input]:text-blue-600 [&>div>div>input]:text-blue-600 max-w-md"
    >
    <input type="hidden" value="4" name="id_origen" id="id_origen" />
            <!-- <input type="hidden" value=" " name="apellido" id="apellido" /> -->
            <input type="hidden" value="postulantes" name="tabla" />
            <input type="hidden" id="addr" name="addr" value="172.17.3.75" />
            <input type="hidden" id="agent" name="agent" value="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/115.0.0.0 Safari/537.36" />
            <input type="hidden" name="utm_source" value="" />
            <input type="hidden" name="utm_medium" value="" />
            <input type="hidden" name="utm_term" value="" />
            <input type="hidden" name="utm_content" value="" />
            <input type="hidden" name="utm_campaign" value="" />
            <input type="hidden" name="idconversion" value="" />
            <input type="hidden" name="campaignid" value="" />
            <input type="hidden" name="referer" value="" />
            <input name="gclid" type="hidden" value="" />
            <input type="hidden" name="tkp" value="/landing/enviado-distancia-2021.php">
            <input type="hidden" name="fkp" value="/landing/enviado-distancia-2021.php?id=404">

      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-1 group">
          <input
            type="text"
            name="Nombre"
            id="nombre"
            class="block  px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            required
            tabindex="1"
          />
          <label
            for="floating_first_name"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Nombre</label
          >
        </div>
        <div class="relative z-0 w-full mb-1 group">
          <input
            type="text"
            name="Apellido"
            id="apellido"
            class="block  px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            required
            tabindex="2"
          />
          <label
            for="floating_last_name"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Apellido</label
          >
        </div>
      </div>
      <div class="relative z-0 w-full mb-1 group mt-2">
        <input
          type="email"
          name="email"
          id="email"
          class="block  px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          required
          tabindex="3"
        />
        <label
          for="floating_email"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Email</label
        >
      </div>
      <div class="relative z-0 w-full mb-1 group mt-2">
        <input
          type="text"
          name="dni"
          id="dni"
          class="block  px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          required
          tabindex="4"
        />
        <label
          for="floating_email"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >DNI para Promociones</label
        >
      </div>
      <div class="relative z-0 w-full mb-1 mt-3 group">
        <label
          for="carrera"
          class="block text-sm font-medium text-gray-500 dark:text-gray-400"
        >
        Seleccione Modalidad
        </label>
        <select
          name="modo"
          id="modo"
          class="block w-full mt-1  px-3 border border-gray-300 bg-white shadow-sm focus:ring-blue-600 focus:border-blue-600 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:outline-none sm:text-sm [&>option]:text-gray-500"
          required
          onchange="cambiar_modo();"
          tabindex="5"
        >
          <!-- Opciones del select -->
          <option value="" disabled selected>Seleccione Modalidad</option>
                  <option value="1">Presencial</option>
                  <option value="7">Distancia</option>
        </select>
      </div>
      <div class="flex space-x-4">
        <div class="relative z-0 w-full mb-1 group">
          <label
            for="carrera"
            class="block text-sm font-medium text-gray-500 dark:text-gray-400"
          >
            Seleccionar Provincia
          </label>
          <select
            name="cbx_provincia"
            id="cbx_provincia"
            class="block w-full mt-1  px-3 border border-gray-300 bg-white shadow-sm focus:ring-blue-600 focus:border-blue-600 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:outline-none sm:text-sm [&>option]:text-gray-500"
            required
            onchange="cambiar_provincia();"
            tabindex="6"
          >
            <!-- Opciones del select -->
            <option value="" disabled selected>Seleccione Provincia</option>
          </select>
        </div>
        <div class="relative z-0 w-full mb-1 group">
          <label
            for="carrera"
            class="block text-sm font-medium text-gray-500 dark:text-gray-400"
          >
            Seleccionar Sede
          </label>
          <select
            name="cbx_sede"
            id="cbx_sede"
            class="block w-full mt-1  px-3 border border-gray-300 bg-white shadow-sm focus:ring-blue-600 focus:border-blue-600 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:outline-none sm:text-sm [&>option]:text-gray-500"
            required
            onchange="cambiar_sede();"
            tabindex="7"
          >
            <!-- Opciones del select -->
            <option value="" disabled selected>Seleccione Sede</option>
          </select>
        </div>
      </div>
      
      <div class="relative z-0 w-full mb-1 group">
        <label
          for="carrera"
          class="block text-sm font-medium text-gray-500 dark:text-gray-400"
        >
        Seleccione Carrera
        </label>
        <select
          name="cbx_carrera"
          id="cbx_carrera"
          class="block w-full mt-1  px-3 border border-gray-300 bg-white shadow-sm focus:ring-blue-600 focus:border-blue-600 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:outline-none sm:text-sm [&>option]:text-gray-500"
          required
          tabindex="8"
        >
          <!-- Opciones del select -->
          <option value="" disabled selected>Seleccione Carrera</option>
        </select>
      </div>
      <div class="flex space-x-4">
        <div class="relative z-0 w-full group">     
            <label
              for="tel"
              class="block text-sm font-medium text-gray-500 dark:text-gray-400"
            >
            Seleccione Carrera
            </label>
            <select
              name="tipo_tel"
              id=""
              class="block w-full mt-1  px-3 border border-gray-300 bg-white shadow-sm focus:ring-blue-600 focus:border-blue-600 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:outline-none sm:text-sm [&>option]:text-gray-500"
              required
              tabindex="9"
              onchange="telefonoOnChange(this);"
            >
              <!-- Opciones del select -->
              <option value="cel" style="padding:0px;">Cel</option>
              <option value="fijo" style="padding:0px;">Fijo</option>
            </select>
        </div>
        <div class="relative z-0 w-full group" style="margin-top: 20px;">
          <input
            type="text"
            name="ddi_pais"
            id="phone"
            class="block px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            required
            tabindex="10"
          />
          <label
            for="floating_company"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform  scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Cod.</label>
        </div>
        
        <div class="relative z-0 w-full group" style="margin-top: 20px;">
          <div class="relative z-0 w-full group">
            <input
              type="text"
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
              name="ddi_pais"
              id="phone"
              class="block  px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              placeholder=" "
              required
            />
            <label
              for="floating_phone"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform  scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Num. Celular</label
            >
          </div>
        </div>
        
      </div>
      <div class="flex justify-center mt-2">
        <button
          type="submit"
          class="text-white bg-[#004180] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >Enviar</button
        >
      </div>
    </form>
  </div>
</div>