<!-- titulo -->
<h1
  class="bg-orange-700 bg-auto text-white h-[40px] flex items-center justify-center text-lg font-extrabold"
>
  EDUCANDO CORAZONES INTELIGENTES
</h1>
<!-- 
<div class="flex items-center justify-center">
  <h1 class="text-center m-3.5 text-xl max-w-xl text-[#5D6473] font-semibold">
    Somos UCASAL, la Universidad que acompaña tu formación integral con lo mejor
    en educación e innovación.
  </h1>
</div> -->

<div class="grid md:grid-cols-2 md:gap-6 ">
  
  <div class="ml-56 m-3">
    <h2 class="text-gray-600 text-2xl font-semibold">
      ¡Queremos que seas parte de <span class="text-red-600"
        >lo que sé viene</span
      >!
    </h2>

    <h3 class="text-gray-600 text-xl font-medium my-5" id="messages">
      Aprendé sin límites de edad, espacios físicos y tiempo. Disfrutá de la
      experiencia de aprendizaje personalizado y flexible, en ambientes
      dinámicos y colaborativos.
    </h3>
    <div class="text-center px-2 shadow-black">
      <iframe
        width="100%"
        height="250"
        src="https://www.youtube.com/embed/-nLtgFKPlXg"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
  </div>

  <div class="flex items-center justify-center">
    <form
      id="form-section"
      class="bg-gray-200 rounded-lg p-6 shadow-md m-5 [&>div>input]:text-blue-600 [&>div>div>input]:text-blue-600 max-w-md"
    >
      <div class="grid md:grid-cols-2 md:gap-6">
        <div class="relative z-0 w-full mb-1 group">
          <input
            type="text"
            name="floating_first_name"
            id="floating_first_name"
            class="block  px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            required
          />
          <label
            for="floating_first_name"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >First name</label
          >
        </div>
        <div class="relative z-0 w-full mb-1 group">
          <input
            type="text"
            name="floating_last_name"
            id="floating_last_name"
            class="block  px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            required
          />
          <label
            for="floating_last_name"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Last name</label
          >
        </div>
      </div>
      <div class="relative z-0 w-full mb-1 group mt-2">
        <input
          type="email"
          name="floating_email"
          id="floating_email"
          class="block  px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          required
        />
        <label
          for="floating_email"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >Email address</label
        >
      </div>
      <div class="relative z-0 w-full mb-1 group mt-2">
        <input
          type="email"
          name="floating_email"
          id="floating_email"
          class="block  px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          placeholder=" "
          required
        />
        <label
          for="floating_email"
          class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >DNI para Promociones</label
        >
      </div>
      <div class="relative z-0 w-full mb-1 mt-3 group">
        <label
          for="carrera"
          class="block text-sm font-medium text-gray-500 dark:text-gray-400"
        >
          Seleccionar Carrera
        </label>
        <select
          name="carrera"
          id="carrera"
          class="block w-full mt-1  px-3 border border-gray-300 bg-white shadow-sm focus:ring-blue-600 focus:border-blue-600 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:outline-none sm:text-sm [&>option]:text-gray-500"
          required
        
        >
          <!-- Opciones del select -->
          <option value="" disabled selected>Elige una opción</option>
          <option value="carrera1">Abogacia</option>
          <option value="carrera2">Contador Publico</option>
          <option value="carrera3">Maestro Mayor de Obra</option>
          <option value="carrera4">Ingenieria en Sistemas</option>
          <option value="carrera5">Ingenieria Industrial</option>
          <!-- Agregar más opciones según sea necesario -->
        </select>
      </div>
      <div class="relative z-0 w-full mb-1 group">
        <label
          for="carrera"
          class="block text-sm font-medium text-gray-500 dark:text-gray-400"
        >
          Seleccionar Provincia
        </label>
        <select
          name="carrera"
          id="carrera"
          class="block w-full mt-1  px-3 border border-gray-300 bg-white shadow-sm focus:ring-blue-600 focus:border-blue-600 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:outline-none sm:text-sm [&>option]:text-gray-500"
          required
        >
          <!-- Opciones del select -->
          <option value="" disabled selected>Elige una opción</option>
          <option value="carrera1">Salta</option>
          <option value="carrera2">Buenos Aires</option>
          <option value="carrera3">Misiones</option>
          <option value="carrera4">Corrientes</option>
          <option value="carrera5">Tucuman</option>
          <!-- Agregar más opciones según sea necesario -->
        </select>
      </div>
      <div class="relative z-0 w-full mb-1 group">
        <label
          for="carrera"
          class="block text-sm font-medium text-gray-500 dark:text-gray-400"
        >
          Seleccionar Sede
        </label>
        <select
          name="carrera"
          id="carrera"
          class="block w-full mt-1  px-3 border border-gray-300 bg-white shadow-sm focus:ring-blue-600 focus:border-blue-600 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:outline-none sm:text-sm [&>option]:text-gray-500"
          required
        >
          <!-- Opciones del select -->
          <option value="" disabled selected>Elige una opción</option>
          <option value="carrera1">Sede 1</option>
          <option value="carrera2">Sede 2</option>
          <option value="carrera3">Sede 3</option>
          <option value="carrera4">Sede 4</option>
          <option value="carrera5">Sede 5</option>
          <!-- Agregar más opciones según sea necesario -->
        </select>
      </div>

      <div class="grid md:grid-cols-2 md:gap-6 mb-2 mt-2">
        <div class="relative z-0 w-full  group">
          <input
            type="tel"
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
            name="floating_phone"
            id="floating_phone"
            class="block  px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            required
          />
          <label
            for="floating_phone"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Phone number</label
          >
        </div>
        <div class="relative z-0 w-full mb-1 group">
          <input
            type="text"
            name="floating_company"
            id="floating_company"
            class="block  px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
            placeholder=" "
            required
          />
          <label
            for="floating_company"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Company</label
          >
        </div>
      </div>
      <div class="flex justify-center">
        <button
          type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >Enviar</button
        >
      </div>
    </form>
  </div>
</div>