---
import Logo from "../components/Logo.astro";
---
<header class="px-24 py-4 flex items-center fixed top-0 w-full justify-between z-30 bg-black opacity-40">
    <Logo />
    <nav class="z-50 relative">
        <ul class="flex text-xl [&>li>a]:text-white [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
            <li><a href="#" class="opacity-60">Carreras</a></li>
            <li><a href="#" class="opacity-60">Modalidad</a></li>
            <li><a href="#" class="opacity-60">Convenios</a></li>
            <li><a href="#" class="opacity-60">Sedes</a></li>
            <li><a href="#" class="opacity-60">Testimonios</a></li>
        </ul>
    </nav>
    <nav>
        <ul class="flex text-xl [&>li>a]:text-white [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2">
            <li><a href="#" class="opacity-60">Inscribite Online</a></li>
        </ul>
    </nav>
</header>
