<section class="bg-black h-screen w-screen text-center relative overflow-hidden z-0 flex flex-col justify-end">
    <div class="absolute top-0 bottom-0">
        <video class="top-0 left-0 w-screen h-screen object-cover" autoplay loop muted src="/videoMixta.webm"></video>
    </div>

    <div class="relative z-10 mb-10 mx-auto w-4/5 max-w-xs">
        <a href="#form-section" class="block text-white bg-orange-700 border border-white rounded-lg text-base font-medium py-2 px-3 text-center transition-transform transform-gpu hover:scale-105 hover:bg-orange-600">
          ¡Más Info!
        </a>
      </div>        
       
</section>
