<section class="bg-black h-screen w-screen text-center relative overflow-hidden">
    <div class="absolite top-0 bottom-0 z-0">
        <video class="fixed top-0 left-0 w-screen h-screen object-cover" autoplay loop muted src="/videoMixta.webm"></video>
    </div>

<div class="z-50">
    <h2>Educando Corazones Inteligentes</h2>
    <p>Informacion personalizada</p>
    <a href="#">Boton Mas Info.</a>
</div>
</section>