<section class="bg-black h-screen w-screen text-center relative overflow-hidden z-0 flex flex-col justify-end">
    <div class="absolute top-0 bottom-0">
        <video class="top-0 left-0 w-screen h-screen object-cover" autoplay loop muted src="/videoMixta.webm"></video>
    </div>

    <div class="relative z-10 mb-10 mx-auto bg-orange-700 w-1/6 rounded-lg">
        <a href="#" class="text-white text-base flex justify-center items-center h-auto">
            Botón Más Info.
        </a>
    </div>
</section>
